openapi: 3.1.0
info:
  title: Vive Loja Mobile API
  version: 1.0.0
  description: Versioned contract consumed by the Vive Loja iOS client.
servers:
  - url: https://viveloja.com/api/mobile/v1
tags:
  - name: Health
  - name: Auth
  - name: Home
  - name: Explore
  - name: Content
  - name: User
security: []
paths:
  /health:
    get:
      tags: [Health]
      summary: Check mobile API availability
      operationId: getMobileHealth
      responses:
        "200":
          description: API is available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a mobile user
      operationId: registerMobileUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "200":
          description: User created
        "400": { $ref: "#/components/responses/BadRequest" }
        "409": { $ref: "#/components/responses/Conflict" }
  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in with email and password
      operationId: loginMobileUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Session tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/apple:
    post:
      tags: [Auth]
      summary: Sign in with Apple identity token
      operationId: loginMobileUserWithApple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppleLoginRequest"
      responses:
        "200":
          description: Session tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate a mobile refresh session
      operationId: refreshMobileSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Rotated session tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke a mobile refresh session
      operationId: logoutMobileSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Session revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /home:
    get:
      tags: [Home]
      summary: Load featured home sections
      operationId: getMobileHome
      responses:
        "200":
          description: Home sections
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /explore:
    get:
      tags: [Explore]
      summary: Search venues and events with filters
      operationId: exploreMobileContent
      parameters:
        - { $ref: "#/components/parameters/Query" }
        - { $ref: "#/components/parameters/Type" }
        - { $ref: "#/components/parameters/Take" }
        - { $ref: "#/components/parameters/VenueSkip" }
        - { $ref: "#/components/parameters/EventSkip" }
        - { $ref: "#/components/parameters/Latitude" }
        - { $ref: "#/components/parameters/Longitude" }
        - { $ref: "#/components/parameters/Radius" }
      responses:
        "200":
          description: Explore results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /venues/{slug}:
    get:
      tags: [Content]
      summary: Load a venue detail
      operationId: getMobileVenue
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Venue detail
          content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } }
        "404": { $ref: "#/components/responses/NotFound" }
  /events/{slug}:
    get:
      tags: [Content]
      summary: Load an event detail
      operationId: getMobileEvent
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Event detail
          content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } }
        "404": { $ref: "#/components/responses/NotFound" }
  /content:
    get:
      tags: [Content]
      summary: Load public content sections
      operationId: getMobileContent
      parameters:
        - { $ref: "#/components/parameters/Query" }
        - name: category
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 24, default: 12 }
        - name: postSkip
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        "200":
          description: Public blog content
          content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } }
  /me/profile:
    get:
      tags: [User]
      summary: Read the authenticated user's profile
      security: [{ bearerAuth: [] }]
      operationId: getMobileProfile
      responses:
        "200": { description: Profile, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/interests:
    get:
      tags: [User]
      summary: Read onboarding interests
      security: [{ bearerAuth: [] }]
      operationId: getMobileInterests
      responses:
        "200": { description: Interests and lifestyle preferences, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [User]
      summary: Replace onboarding interests
      security: [{ bearerAuth: [] }]
      operationId: updateMobileInterests
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/InterestsRequest" } } }
      responses:
        "200": { description: Interests saved, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
    patch:
      tags: [User]
      summary: Update the authenticated user's profile
      security: [{ bearerAuth: [] }]
      operationId: updateMobileProfile
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ProfileUpdateRequest" } } }
      responses:
        "200": { description: Updated profile, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/reservations:
    get:
      tags: [User]
      summary: List the authenticated user's reservations
      security: [{ bearerAuth: [] }]
      operationId: getMobileReservations
      responses:
        "200": { description: Reservations, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Create or replay a reservation
      security: [{ bearerAuth: [] }]
      operationId: createMobileReservation
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ReservationRequest" } } }
      responses:
        "200": { description: Reservation created or replayed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/reservations/{id}:
    get:
      tags: [User]
      summary: Read one reservation
      security: [{ bearerAuth: [] }]
      operationId: getMobileReservation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Reservation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [User]
      summary: Cancel one reservation
      security: [{ bearerAuth: [] }]
      operationId: cancelMobileReservation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content: { application/json: { schema: { $ref: "#/components/schemas/CancelReservationRequest" } } }
      responses:
        "200": { description: Reservation cancelled, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /me/reviews:
    get:
      tags: [User]
      summary: List reviews for a venue or event
      security: [{ bearerAuth: [] }]
      operationId: getMobileReviews
      parameters:
        - { name: venueId, in: query, schema: { type: string } }
        - { name: eventId, in: query, schema: { type: string } }
      responses:
        "200": { description: Reviews, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
    post:
      tags: [User]
      summary: Create or update a review
      security: [{ bearerAuth: [] }]
      operationId: upsertMobileReview
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ReviewRequest" } } }
      responses:
        "200": { description: Review submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/questions:
    get:
      tags: [User]
      summary: List questions for a venue or event
      security: [{ bearerAuth: [] }]
      operationId: getMobileQuestions
      parameters:
        - { name: venueId, in: query, schema: { type: string } }
        - { name: eventId, in: query, schema: { type: string } }
      responses:
        "200": { description: Questions, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
    post:
      tags: [User]
      summary: Ask a question about a venue or event
      security: [{ bearerAuth: [] }]
      operationId: createMobileQuestion
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/QuestionRequest" } } }
      responses:
        "200": { description: Question submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/messages:
    get:
      tags: [User]
      summary: List mobile conversation summaries
      security: [{ bearerAuth: [] }]
      operationId: getMobileConversations
      responses:
        "200": { description: Conversation summaries, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Send a mobile message
      security: [{ bearerAuth: [] }]
      operationId: sendMobileMessage
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MessageRequest" } } }
      responses:
        "200": { description: Message sent, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /me/uploads:
    post:
      tags: [User]
      summary: Upload an image or video for a mobile draft
      security: [{ bearerAuth: [] }]
      operationId: uploadMobileMedia
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "200": { description: Uploaded media URL, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/messages/{conversationId}:
    get:
      tags: [User]
      summary: Load messages in one conversation
      security: [{ bearerAuth: [] }]
      operationId: getMobileConversation
      parameters:
        - name: conversationId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Conversation messages, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [User]
      summary: Mark conversation messages as read
      security: [{ bearerAuth: [] }]
      operationId: markMobileConversationRead
      parameters:
        - name: conversationId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Messages marked read, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/messages/stream:
    get:
      tags: [User]
      summary: Subscribe to foreground message events
      security: [{ bearerAuth: [] }]
      operationId: streamMobileMessages
      parameters:
        - name: since
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Server-sent message events
          content: { text/event-stream: { schema: { type: string } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/events:
    get:
      tags: [User]
      summary: List events created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobileEvents
      responses:
        "200": { description: User event drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit an event draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobileEventDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreateEventRequest" } } }
      responses:
        "200": { description: Event submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/favorites:
    get:
      tags: [User]
      summary: List saved content
      security: [{ bearerAuth: [] }]
      operationId: getMobileFavorites
      responses:
        "200": { description: Saved content, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Save content for the current user
      security: [{ bearerAuth: [] }]
      operationId: addMobileFavorite
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/FavoriteRequest" } } }
      responses:
        "200": { description: Favorite added, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [User]
      summary: Remove saved content for the current user
      security: [{ bearerAuth: [] }]
      operationId: removeMobileFavorite
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/FavoriteRequest" } } }
      responses:
        "200": { description: Favorite removed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/collections:
    get:
      tags: [User]
      summary: List the authenticated user's collections
      security: [{ bearerAuth: [] }]
      operationId: getMobileCollections
      responses:
        "200": { description: Collections, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Create a collection
      security: [{ bearerAuth: [] }]
      operationId: createMobileCollection
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionRequest" } } }
      responses:
        "200": { description: Collection created, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/collections/{id}:
    get:
      tags: [User]
      summary: Read one owned collection
      security: [{ bearerAuth: [] }]
      operationId: getMobileCollection
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Collection, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [User]
      summary: Update one owned collection
      security: [{ bearerAuth: [] }]
      operationId: updateMobileCollection
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionUpdateRequest" } } }
      responses:
        "200": { description: Collection updated, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [User]
      summary: Add content to an owned collection
      security: [{ bearerAuth: [] }]
      operationId: addMobileCollectionItem
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionItemRequest" } } }
      responses:
        "200": { description: Collection item added, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [User]
      summary: Delete an owned collection
      security: [{ bearerAuth: [] }]
      operationId: deleteMobileCollection
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Collection deleted, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/collections/{id}/items:
    delete:
      tags: [User]
      summary: Remove content from an owned collection
      security: [{ bearerAuth: [] }]
      operationId: removeMobileCollectionItem
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionItemKey" } } }
      responses:
        "200": { description: Collection item removed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/check-ins:
    get:
      tags: [User]
      summary: List authenticated user's check-ins
      security: [{ bearerAuth: [] }]
      operationId: getMobileCheckIns
      responses:
        "200": { description: Check-ins, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Register a nearby venue check-in
      security: [{ bearerAuth: [] }]
      operationId: createMobileCheckIn
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CheckInRequest" } } }
      responses:
        "200": { description: Check-in registered, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/venues:
    get:
      tags: [User]
      summary: List venues created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobileVenues
      responses:
        "200": { description: User venue drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit a venue draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobileVenueDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreateVenueRequest" } } }
      responses:
        "200": { description: Venue submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/posts:
    get:
      tags: [User]
      summary: List articles created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobilePosts
      responses:
        "200": { description: User article drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit an article draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobilePostDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreatePostRequest" } } }
      responses:
        "200": { description: Article submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/routes:
    get:
      tags: [User]
      summary: List routes created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobileRoutes
      responses:
        "200": { description: User route drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit a route draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobileRouteDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreateRouteRequest" } } }
      responses:
        "200": { description: Route submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Query: { name: q, in: query, schema: { type: string } }
    Type: { name: type, in: query, schema: { type: string, enum: [all, venues, events] } }
    Take: { name: take, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 60 } }
    VenueSkip: { name: venueSkip, in: query, schema: { type: integer, minimum: 0, default: 0 } }
    EventSkip: { name: eventSkip, in: query, schema: { type: integer, minimum: 0, default: 0 } }
    Latitude: { name: lat, in: query, schema: { type: number, format: double } }
    Longitude: { name: lng, in: query, schema: { type: number, format: double } }
    Radius: { name: radius, in: query, schema: { type: number, minimum: 1 } }
  schemas:
    SuccessEnvelope:
      type: object
      required: [data]
      properties:
        data: {}
        meta: { type: object, additionalProperties: true }
    RegisterRequest:
      type: object
      required: [name, email, password]
      properties:
        name: { type: string, minLength: 1 }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 1 }
    AppleLoginRequest:
      type: object
      required: [identityToken]
      properties:
        identityToken: { type: string, minLength: 100 }
        nonce: { type: string, minLength: 16 }
        name: { type: string, minLength: 2, maxLength: 80 }
    ProfileUpdateRequest:
      type: object
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        image: { type: [string, 'null'], format: uri }
    InterestsRequest:
      type: object
      required: [categoryIds]
      properties:
        categoryIds: { type: array, maxItems: 30, items: { type: string } }
        preferences: { type: array, maxItems: 20, items: { type: string, maxLength: 80 } }
    ReservationRequest:
      type: object
      required: [date, time, partySize]
      properties:
        venueId: { type: string }
        eventId: { type: string }
        date: { type: string, format: date-time }
        time: { type: string, pattern: '^([01]\\d|2[0-3]):[0-5]\\d$' }
        partySize: { type: integer, minimum: 1, maximum: 50 }
        notes: { type: string, maxLength: 500 }
    CancelReservationRequest:
      type: object
      properties:
        status: { type: string, enum: [CANCELLED], default: CANCELLED }
        cancelReason: { type: string, maxLength: 500 }
    ReviewRequest:
      type: object
      required: [rating]
      properties:
        venueId: { type: string }
        eventId: { type: string }
        rating: { type: integer, minimum: 1, maximum: 5 }
        title: { type: string, maxLength: 120 }
        content: { type: string, maxLength: 2000 }
        photos: { type: array, maxItems: 6, items: { type: string, format: uri, maxLength: 2000 } }
    QuestionRequest:
      type: object
      required: [content]
      properties:
        venueId: { type: string }
        eventId: { type: string }
        content: { type: string, minLength: 5, maxLength: 1000 }
    MessageRequest:
      type: object
      required: [venueId, receiverId, content]
      properties:
        venueId: { type: string }
        receiverId: { type: string }
        content: { type: string, minLength: 1, maxLength: 2000 }
    CreateEventRequest:
      type: object
      required: [title, description, startDate, location]
      properties:
        title: { type: string, minLength: 3, maxLength: 120 }
        description: { type: string, minLength: 10, maxLength: 5000 }
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        location: { type: string, minLength: 2, maxLength: 180 }
        address: { type: string, maxLength: 250 }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        price: { type: number, minimum: 0 }
        image: { type: string, format: uri, maxLength: 2000 }
        venueId: { type: string }
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: { type: string, minLength: 1 }
    FavoriteRequest:
      type: object
      required: [kind, itemId]
      properties:
        kind: { type: string, enum: [venue, event, post, route] }
        itemId: { type: string, minLength: 1 }
    CollectionRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        description: { type: string, maxLength: 500 }
        icon: { type: string, maxLength: 40 }
        isPublic: { type: boolean, default: true }
    CollectionUpdateRequest:
      type: object
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        description: { type: [string, 'null'], maxLength: 500 }
        icon: { type: [string, 'null'], maxLength: 40 }
        isPublic: { type: boolean }
    CollectionItemKey:
      type: object
      required: [kind, itemId]
      properties:
        kind: { type: string, enum: [venue, event, post, route] }
        itemId: { type: string, minLength: 1 }
    CollectionItemRequest:
      allOf:
        - $ref: "#/components/schemas/CollectionItemKey"
      properties:
        note: { type: string, maxLength: 300 }
        order: { type: integer, minimum: 0 }
    CheckInRequest:
      type: object
      required: [venueId, lat, lng]
      properties:
        venueId: { type: string }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        note: { type: string, maxLength: 500 }
        photoUrl: { type: string, format: uri, maxLength: 2000 }
    CreateVenueRequest:
      type: object
      required: [name, description, location]
      properties:
        name: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, minLength: 10, maxLength: 5000 }
        location: { type: string, minLength: 2, maxLength: 180 }
        address: { type: string, maxLength: 250 }
        phone: { type: string, maxLength: 40 }
        email: { type: string, format: email }
        website: { type: string, format: uri }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        priceRange: { type: string, maxLength: 20 }
        image: { type: string, format: uri, maxLength: 2000 }
        categoryIds: { type: array, maxItems: 10, items: { type: string } }
    CreatePostRequest:
      type: object
      required: [title, content, categoryId]
      properties:
        title: { type: string, minLength: 3, maxLength: 160 }
        excerpt: { type: string, maxLength: 500 }
        content: { type: string, minLength: 20, maxLength: 20000 }
        image: { type: string, format: uri, maxLength: 2000 }
        categoryId: { type: string }
    CreateRouteRequest:
      type: object
      required: [title, description, type]
      properties:
        title: { type: string, minLength: 3, maxLength: 160 }
        description: { type: string, minLength: 10, maxLength: 5000 }
        content: { type: string, maxLength: 20000 }
        image: { type: string, format: uri, maxLength: 2000 }
        duration: { type: string, maxLength: 80 }
        difficulty: { type: string, maxLength: 40 }
        type: { type: string, minLength: 2, maxLength: 40 }
        stops:
          type: array
          maxItems: 50
          items:
            type: object
            required: [title]
            properties:
              venueId: { type: string }
              title: { type: string, minLength: 2, maxLength: 160 }
              notes: { type: string, maxLength: 500 }
              duration: { type: string, maxLength: 80 }
    TokenEnvelope:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            fields: { type: object, additionalProperties: { type: array, items: { type: string } } }
  responses:
    BadRequest:
      description: Invalid input
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unauthorized:
      description: Authentication required or invalid
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Forbidden:
      description: Authenticated user is not allowed to perform this action
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Conflict:
      description: Resource conflict
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFound:
      description: Resource not found
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    ServiceUnavailable:
      description: Optional provider is not configured
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
