openapi: 3.1.0
info:
  title: Vive Loja Mobile API
  version: 1.0.0
  description: Versioned contract consumed by the Vive Loja iOS client.
servers:
  - url: https://viveloja.com/api/mobile/v1
tags:
  - name: Health
  - name: Auth
  - name: Home
  - name: Explore
  - name: Content
  - name: Transmissions
  - name: Analytics
  - name: User
security: []
paths:
  /agenda:
    get:
      tags: [Content]
      operationId: getAgenda
      summary: Chronological agenda in America/Guayaquil
      description: Up to 100 approved remaining or ongoing events. Weekend means Saturday and Sunday, or the remaining part of the current weekend. Unknown price is null, never free. Cancelled events are excluded.
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [today, tomorrow, weekend, upcoming], default: today }
      responses:
        '200':
          description: Chronologically sorted events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [id, title, slug, startDate, location]
                      properties:
                        id: { type: string }
                        title: { type: string }
                        slug: { type: string }
                        image: { type: [string, 'null'] }
                        startDate: { type: string, format: date-time }
                        endDate: { type: [string, 'null'], format: date-time }
                        location: { type: string }
                        price: { type: [number, 'null'] }
        '422': { description: Invalid period }
        '500': { description: Agenda unavailable }
  /me/event-updates:
    get:
      tags: [User]
      operationId: getSavedEventUpdates
      summary: Latest 50 schedule-change and cancellation notices for the signed-in user
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Persisted inbox, regardless of push permission or transport availability
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [id, title, body, slug, createdAt]
                      properties:
                        id: { type: string }
                        title: { type: string }
                        body: { type: string }
                        slug: { type: string }
                        createdAt: { type: string, format: date-time }
        '401': { description: Authentication required }
        '500': { description: Inbox unavailable }
  /today:
    get:
      tags: [Home]
      operationId: getTodayInLoja
      summary: Today's remaining events, open venues, short routes and editorial venue collections
      description: Uses America/Guayaquil day boundaries. No-store. Only public approved content. Unknown hours are excluded. Collections must be public, authored by an admin and contain only approved active venues.
      responses:
        "200":
          description: Today's discovery sections, including empty arrays when no content qualifies
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [date, timeZone, generatedAt, events, openVenues, routes, collections]
                    properties:
                      date: { type: string, format: date }
                      timeZone: { type: string, const: America/Guayaquil }
                      generatedAt: { type: string, format: date-time }
                      events: { type: array, items: { $ref: '#/components/schemas/TodayCard' } }
                      openVenues: { type: array, items: { $ref: '#/components/schemas/TodayCard' } }
                      routes: { type: array, items: { $ref: '#/components/schemas/TodayCard' } }
                      collections: { type: array, items: { $ref: '#/components/schemas/TodayCard' } }
        "500":
          description: Temporary discovery service failure
  /interactions:
    post:
      tags: [Analytics]
      operationId: recordDirectionsIntent
      summary: Record a directions click, never a physical visit
      description: Public, rate limited, deduplicated in 30-minute buckets. Save events are recorded atomically by the authenticated favorites mutation, never accepted here. Analytics failures must not block navigation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action, kind, itemId, source]
              properties:
                action: { type: string, const: directions }
                kind: { type: string, enum: [venue, event, route] }
                itemId: { type: string, minLength: 1, maxLength: 100 }
                source: { type: string, enum: [web, ios, android] }
      responses:
        "200": { description: Accepted; data.recorded is false for a duplicate }
        "403": { description: Cross-origin browser request rejected }
        "404": { description: Content is not public }
        "422": { description: Invalid input }
        "429": { description: Rate limit reached }
        "500": { description: Recording unavailable }
  /health:
    get:
      tags: [Health]
      summary: Check mobile API availability
      operationId: getMobileHealth
      responses:
        "200":
          description: API is available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a mobile user
      operationId: registerMobileUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "200":
          description: User created
        "400": { $ref: "#/components/responses/BadRequest" }
        "409": { $ref: "#/components/responses/Conflict" }
  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in with email and password
      operationId: loginMobileUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Session tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/apple:
    post:
      tags: [Auth]
      summary: Sign in with Apple identity token
      operationId: loginMobileUserWithApple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppleLoginRequest"
      responses:
        "200":
          description: Session tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate a mobile refresh session
      operationId: refreshMobileSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Rotated session tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke a mobile refresh session
      operationId: logoutMobileSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: Session revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /home:
    get:
      tags: [Home]
      summary: Load featured, latest, related and editorial home sections
      operationId: getMobileHome
      responses:
        "200":
          description: Home sections
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/HomePayload"
  /explore:
    get:
      tags: [Explore]
      summary: Search venues and events with filters
      operationId: exploreMobileContent
      parameters:
        - { $ref: "#/components/parameters/Query" }
        - { $ref: "#/components/parameters/Type" }
        - { $ref: "#/components/parameters/Take" }
        - { $ref: "#/components/parameters/VenueSkip" }
        - { $ref: "#/components/parameters/EventSkip" }
        - { $ref: "#/components/parameters/Latitude" }
        - { $ref: "#/components/parameters/Longitude" }
        - { $ref: "#/components/parameters/Radius" }
      responses:
        "200":
          description: Explore results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
  /venues/{slug}:
    get:
      tags: [Content]
      summary: Load a venue detail
      operationId: getMobileVenue
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Venue detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/VenueDetail"
        "404": { $ref: "#/components/responses/NotFound" }
  /events/{slug}:
    get:
      tags: [Content]
      summary: Load an event detail
      operationId: getMobileEvent
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Event detail
          content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } }
        "404": { $ref: "#/components/responses/NotFound" }
  /content:
    get:
      tags: [Content]
      summary: Load public content sections
      operationId: getMobileContent
      parameters:
        - { $ref: "#/components/parameters/Query" }
        - name: category
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 24, default: 12 }
        - name: postSkip
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        "200":
          description: Public blog content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/ContentPayload" }
  /watch-events:
    get:
      tags: [Transmissions]
      summary: List active live transmissions and watch parties
      operationId: getMobileWatchEvents
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 50 }
      responses:
        "200":
          description: Active transmissions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MobileWatchEvent" }
  /watch-events/{slug}:
    get:
      tags: [Transmissions]
      summary: Load transmission details and participating venues
      operationId: getMobileWatchEvent
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Transmission details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MobileWatchEventDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
  /views:
    post:
      tags: [Analytics]
      summary: Increment a public content view counter
      operationId: recordMobileView
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ViewRequest" } } }
      responses:
        "200": { description: View recorded, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/recommendations:
    get:
      tags: [User]
      summary: Load personalized recommendations for the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMobileRecommendations
      responses:
        "200":
          description: Personalized home recommendations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/RecommendationsPayload" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/profile:
    get:
      tags: [User]
      summary: Read the authenticated user's profile
      security: [{ bearerAuth: [] }]
      operationId: getMobileProfile
      responses:
        "200": { description: Profile, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/following:
    get:
      tags: [User]
      summary: List venues followed by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMobileFollowing
      responses:
        "200":
          description: Followed venues
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/FollowingRecord" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Follow an approved venue
      security: [{ bearerAuth: [] }]
      operationId: followMobileVenue
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/FollowingRequest" } } }
      responses:
        "200": { description: Venue followed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/BadRequest" }
    delete:
      tags: [User]
      summary: Stop following a venue
      security: [{ bearerAuth: [] }]
      operationId: unfollowMobileVenue
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/FollowingRequest" } } }
      responses:
        "200": { description: Venue unfollowed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/badges:
    get:
      tags: [User]
      summary: List badges earned by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMobileBadges
      responses:
        "200":
          description: Earned badges
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MobileBadge" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /routes:
    get:
      tags: [Content]
      summary: List approved itinerary routes
      operationId: listMobileRoutes
      parameters:
        - { in: query, name: type, schema: { type: string } }
        - { in: query, name: difficulty, schema: { type: string } }
        - { in: query, name: days, schema: { type: integer, minimum: 1, maximum: 14 } }
        - { in: query, name: featured, schema: { type: string, enum: ["true", "false"] } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 50, default: 20 } }
        - in: query
          name: cursor
          schema: { type: string }
          description: Id of the last route of the previous page.
      responses:
        "200":
          description: Routes page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MobileRouteSummary" }
                      meta:
                        type: object
                        properties:
                          hasMore: { type: boolean }
                          nextCursor: { type: [string, 'null'] }
        "422": { $ref: "#/components/responses/ValidationError" }
  /routes/{slug}:
    get:
      tags: [Content]
      summary: Itinerary detail with stops grouped by day
      operationId: getMobileRoute
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses:
        "200":
          description: Route detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MobileRouteDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
  /popular:
    get:
      tags: [Content]
      summary: Most viewed venues or events in a recent window
      description: >-
        Ranked from the shared view log written by the app, the site and the
        installed PWA, so the ordering is the same everywhere. Distinct from the
        lifetime `viewCount`, which never decays.
      operationId: getMobilePopularNow
      parameters:
        - { in: query, name: kind, schema: { type: string, enum: [venue, event], default: venue } }
        - { in: query, name: window, schema: { type: string, enum: ["24h", "7d"], default: "24h" } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 20, default: 10 } }
      responses:
        "200":
          description: Ranked items with their recent view counts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: string }
                            slug: { type: string }
                            recentViews: { type: integer }
        "422": { $ref: "#/components/responses/ValidationError" }
  /collections/{slug}:
    get:
      tags: [Content]
      summary: Public collection by slug
      description: >-
        A private collection answers 404 rather than 403 so the response never
        confirms that a slug exists to someone who cannot see it. A bearer token
        only adds `isSaved` and `isMine`.
      operationId: getMobilePublicCollection
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses:
        "200":
          description: Collection detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MobilePublicCollection" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/claims:
    get:
      tags: [User]
      summary: List the authenticated user's business claims
      security: [{ bearerAuth: [] }]
      operationId: listMobileClaims
      responses:
        "200":
          description: Claims
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/MobileClaim" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Claim a business
      description: >-
        Mails a six digit code valid for 15 minutes. Rate limited, because it
        sends mail on behalf of the caller.
      security: [{ bearerAuth: [] }]
      operationId: createMobileClaim
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ClaimSubmitRequest" }
      responses:
        "200":
          description: Claim created, verification code sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          claimId: { type: string }
                          venueSlug: { type: string }
                          confidenceScore: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: "Already the owner, or a claim is already open" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { description: Too many claim attempts }
  /me/claims/{id}/verify:
    post:
      tags: [User]
      summary: Verify a claim's e-mail code
      security: [{ bearerAuth: [] }]
      operationId: verifyMobileClaim
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: "^\\d{6}$" }
      responses:
        "200":
          description: Verified
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          verified: { type: boolean }
                          confidenceScore: { type: integer }
                          attemptsLeft: { type: integer }
        "400": { description: Wrong code }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: The claim belongs to someone else }
        "410": { description: The code expired }
        "429": { description: Too many attempts }
  /me/claims/{id}/evidence:
    post:
      tags: [User]
      summary: Attach uploaded proof to a claim
      description: The file is uploaded through `/me/uploads`; this records its URL.
      security: [{ bearerAuth: [] }]
      operationId: attachMobileClaimEvidence
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [evidenceUrl]
              properties:
                evidenceUrl: { type: string, format: uri }
                evidenceName: { type: [string, 'null'] }
      responses:
        "200":
          description: Evidence attached and the claim re-scored
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          confidenceScore: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: The claim belongs to someone else }
  /me/reviews/{id}/reply:
    patch:
      tags: [User]
      summary: Reply to a review as the business owner
      security: [{ bearerAuth: [] }]
      operationId: replyToMobileReview
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reply]
              properties:
                reply: { type: string, minLength: 1, maxLength: 500 }
      responses:
        "200":
          description: Reply published
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id: { type: string }
                          ownerReply: { type: string }
                          ownerReplyAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not the owner of the listing }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/venues/{slug}/insights:
    get:
      tags: [User]
      summary: Owner metrics for one venue
      description: >-
        `viewSeries` only reaches back `retentionDays`, the window the view log
        is kept for; `lifetimeViews` is the all-time counter and is reported
        separately rather than mixed into the series.
      security: [{ bearerAuth: [] }]
      operationId: getMobileVenueInsights
      parameters:
        - { in: path, name: slug, required: true, schema: { type: string } }
      responses:
        "200":
          description: Insights
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/MobileVenueInsights" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Not the owner of the venue }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/devices:
    post:
      tags: [User]
      summary: Register or refresh this device's push token
      description: >-
        Idempotent on the token. Upserting reassigns the device when another
        account signs in on the same phone, so the previous owner stops
        receiving its notifications.
      security: [{ bearerAuth: [] }]
      operationId: registerMobileDevice
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeviceRegistrationRequest" }
      responses:
        "200":
          description: Registered device
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/DeviceRegistration" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
    delete:
      tags: [User]
      summary: Revoke this device's push token
      security: [{ bearerAuth: [] }]
      operationId: revokeMobileDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, minLength: 16, maxLength: 512 }
      responses:
        "200":
          description: Revocation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          revoked: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /me/notification-preferences:
    get:
      tags: [User]
      summary: Read notification preferences
      description: >-
        Returns defaults when the user has never saved preferences, so the app
        never renders blanks. The web dashboard edits the same row.
      security: [{ bearerAuth: [] }]
      operationId: getMobileNotificationPreferences
      responses:
        "200":
          description: Preferences
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/NotificationPreferences" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    patch:
      tags: [User]
      summary: Update notification preferences
      security: [{ bearerAuth: [] }]
      operationId: updateMobileNotificationPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NotificationPreferences" }
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/NotificationPreferences" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
  /me/password:
    patch:
      tags: [User]
      summary: Change the authenticated user's password
      security: [{ bearerAuth: [] }]
      operationId: changeMobilePassword
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/PasswordChangeRequest" } } }
      responses:
        "200": { description: Password changed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { description: Password is not configured, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/interests:
    get:
      tags: [User]
      summary: Read onboarding interests
      security: [{ bearerAuth: [] }]
      operationId: getMobileInterests
      responses:
        "200": { description: Interests and lifestyle preferences, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      tags: [User]
      summary: Replace onboarding interests
      security: [{ bearerAuth: [] }]
      operationId: updateMobileInterests
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/InterestsRequest" } } }
      responses:
        "200": { description: Interests saved, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
    patch:
      tags: [User]
      summary: Update the authenticated user's profile
      security: [{ bearerAuth: [] }]
      operationId: updateMobileProfile
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ProfileUpdateRequest" } } }
      responses:
        "200": { description: Updated profile, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/reservations:
    get:
      tags: [User]
      summary: List the authenticated user's reservations
      security: [{ bearerAuth: [] }]
      operationId: getMobileReservations
      responses:
        "200": { description: Reservations, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Create or replay a reservation
      security: [{ bearerAuth: [] }]
      operationId: createMobileReservation
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ReservationRequest" } } }
      responses:
        "200": { description: Reservation created or replayed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/reservations/{id}:
    get:
      tags: [User]
      summary: Read one reservation
      security: [{ bearerAuth: [] }]
      operationId: getMobileReservation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Reservation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [User]
      summary: Cancel one reservation
      security: [{ bearerAuth: [] }]
      operationId: cancelMobileReservation
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content: { application/json: { schema: { $ref: "#/components/schemas/CancelReservationRequest" } } }
      responses:
        "200": { description: Reservation cancelled, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
  /me/reviews:
    get:
      tags: [User]
      summary: List reviews for a venue or event
      security: [{ bearerAuth: [] }]
      operationId: getMobileReviews
      parameters:
        - { name: venueId, in: query, schema: { type: string } }
        - { name: eventId, in: query, schema: { type: string } }
      responses:
        "200": { description: Reviews, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
    post:
      tags: [User]
      summary: Create or update a review
      security: [{ bearerAuth: [] }]
      operationId: upsertMobileReview
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/ReviewRequest" } } }
      responses:
        "200": { description: Review submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/questions:
    get:
      tags: [User]
      summary: List questions for a venue or event
      security: [{ bearerAuth: [] }]
      operationId: getMobileQuestions
      parameters:
        - { name: venueId, in: query, schema: { type: string } }
        - { name: eventId, in: query, schema: { type: string } }
      responses:
        "200": { description: Questions, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
    post:
      tags: [User]
      summary: Ask a question about a venue or event
      security: [{ bearerAuth: [] }]
      operationId: createMobileQuestion
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/QuestionRequest" } } }
      responses:
        "200": { description: Question submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/messages:
    get:
      tags: [User]
      summary: List mobile conversation summaries
      security: [{ bearerAuth: [] }]
      operationId: getMobileConversations
      responses:
        "200": { description: Conversation summaries, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Send a mobile message
      security: [{ bearerAuth: [] }]
      operationId: sendMobileMessage
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MessageRequest" } } }
      responses:
        "200": { description: Message sent, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /me/uploads:
    post:
      tags: [User]
      summary: Upload an image or video for a mobile draft
      security: [{ bearerAuth: [] }]
      operationId: uploadMobileMedia
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "200": { description: Uploaded media URL, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/messages/{conversationId}:
    get:
      tags: [User]
      summary: Load messages in one conversation
      security: [{ bearerAuth: [] }]
      operationId: getMobileConversation
      parameters:
        - name: conversationId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Conversation messages, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [User]
      summary: Mark conversation messages as read
      security: [{ bearerAuth: [] }]
      operationId: markMobileConversationRead
      parameters:
        - name: conversationId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Messages marked read, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/messages/report:
    post:
      tags: [User]
      summary: Report a message from the authenticated user's conversation
      security: [{ bearerAuth: [] }]
      operationId: reportMobileMessage
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MessageReportRequest" } } }
      responses:
        "200": { description: Message reported, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/messages/block:
    post:
      tags: [User]
      summary: Block a participant in a mobile conversation
      security: [{ bearerAuth: [] }]
      operationId: blockMobileMessageParticipant
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MessageBlockRequest" } } }
      responses:
        "200": { description: Participant blocked, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/BadRequest" }
    delete:
      tags: [User]
      summary: Unblock a participant in a mobile conversation
      security: [{ bearerAuth: [] }]
      operationId: unblockMobileMessageParticipant
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MessageBlockRequest" } } }
      responses:
        "200": { description: Participant unblocked, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/messages/stream:
    get:
      tags: [User]
      summary: Subscribe to foreground message events
      security: [{ bearerAuth: [] }]
      operationId: streamMobileMessages
      parameters:
        - name: since
          in: query
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Server-sent message events
          content: { text/event-stream: { schema: { type: string } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/events:
    get:
      tags: [User]
      summary: List events created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobileEvents
      responses:
        "200": { description: User event drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit an event draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobileEventDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreateEventRequest" } } }
      responses:
        "200": { description: Event submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/favorites:
    get:
      tags: [User]
      summary: List saved content
      security: [{ bearerAuth: [] }]
      operationId: getMobileFavorites
      responses:
        "200":
          description: Saved content
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/FavoriteRecord" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Save content for the current user
      security: [{ bearerAuth: [] }]
      operationId: addMobileFavorite
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/FavoriteRequest" } } }
      responses:
        "200": { description: Favorite added, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [User]
      summary: Remove saved content for the current user
      security: [{ bearerAuth: [] }]
      operationId: removeMobileFavorite
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/FavoriteRequest" } } }
      responses:
        "200": { description: Favorite removed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/collections:
    get:
      tags: [User]
      summary: List the authenticated user's collections
      security: [{ bearerAuth: [] }]
      operationId: getMobileCollections
      responses:
        "200": { description: Collections, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Create a collection
      security: [{ bearerAuth: [] }]
      operationId: createMobileCollection
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionRequest" } } }
      responses:
        "200": { description: Collection created, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/collections/{id}:
    get:
      tags: [User]
      summary: Read one owned collection
      security: [{ bearerAuth: [] }]
      operationId: getMobileCollection
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Collection, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [User]
      summary: Update one owned collection
      security: [{ bearerAuth: [] }]
      operationId: updateMobileCollection
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionUpdateRequest" } } }
      responses:
        "200": { description: Collection updated, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [User]
      summary: Add content to an owned collection
      security: [{ bearerAuth: [] }]
      operationId: addMobileCollectionItem
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionItemRequest" } } }
      responses:
        "200": { description: Collection item added, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [User]
      summary: Delete an owned collection
      security: [{ bearerAuth: [] }]
      operationId: deleteMobileCollection
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Collection deleted, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/collections/{id}/items:
    delete:
      tags: [User]
      summary: Remove content from an owned collection
      security: [{ bearerAuth: [] }]
      operationId: removeMobileCollectionItem
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CollectionItemKey" } } }
      responses:
        "200": { description: Collection item removed, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/check-ins:
    get:
      tags: [User]
      summary: List authenticated user's check-ins
      security: [{ bearerAuth: [] }]
      operationId: getMobileCheckIns
      responses:
        "200": { description: Check-ins, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Register a nearby venue check-in
      security: [{ bearerAuth: [] }]
      operationId: createMobileCheckIn
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CheckInRequest" } } }
      responses:
        "200": { description: Check-in registered, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/venues:
    get:
      tags: [User]
      summary: List venues created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobileVenues
      responses:
        "200": { description: User venue drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit a venue draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobileVenueDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreateVenueRequest" } } }
      responses:
        "200": { description: Venue submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/posts:
    get:
      tags: [User]
      summary: List articles created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobilePosts
      responses:
        "200": { description: User article drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit an article draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobilePostDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreatePostRequest" } } }
      responses:
        "200": { description: Article submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
  /me/routes:
    get:
      tags: [User]
      summary: List routes created by the authenticated user
      security: [{ bearerAuth: [] }]
      operationId: getMyMobileRoutes
      responses:
        "200": { description: User route drafts, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [User]
      summary: Submit a route draft for moderation
      security: [{ bearerAuth: [] }]
      operationId: createMobileRouteDraft
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreateRouteRequest" } } }
      responses:
        "200": { description: Route submitted for moderation, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/BadRequest" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Query: { name: q, in: query, schema: { type: string } }
    Type: { name: type, in: query, schema: { type: string, enum: [all, venues, events] } }
    Take: { name: take, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 60 } }
    VenueSkip: { name: venueSkip, in: query, schema: { type: integer, minimum: 0, default: 0 } }
    EventSkip: { name: eventSkip, in: query, schema: { type: integer, minimum: 0, default: 0 } }
    Latitude: { name: lat, in: query, schema: { type: number, format: double } }
    Longitude: { name: lng, in: query, schema: { type: number, format: double } }
    Radius: { name: radius, in: query, schema: { type: number, minimum: 1 } }
  schemas:
    TodayCard:
      type: object
      required: [id, kind, title, slug, image, subtitle]
      properties:
        id: { type: string }
        kind: { type: string, enum: [venue, event, route, collection] }
        title: { type: string }
        slug: { type: string }
        image: { type: [string, 'null'] }
        subtitle: { type: [string, 'null'] }
        startDate: { type: string, format: date-time }
        price: { type: [number, 'null'] }
        author: { type: [string, 'null'] }
        itemCount: { type: integer }
        updatedAt: { type: string, format: date-time }
    SuccessEnvelope:
      type: object
      required: [data]
      properties:
        data: {}
        meta: { type: object, additionalProperties: true }
    HomePayload:
      type: object
      description: Featured and editorial sections returned by the mobile home endpoint.
      required: [venues, events, featuredVenues, featuredEvents, latestVenues, relatedEvents, posts, promotions, categories]
      properties:
        venues:
          type: array
          description: Backwards-compatible alias for featuredVenues.
          items: { $ref: "#/components/schemas/MobileVenue" }
        events:
          type: array
          description: Backwards-compatible alias for featuredEvents.
          items: { $ref: "#/components/schemas/MobileEvent" }
        featuredVenues:
          type: array
          items: { $ref: "#/components/schemas/MobileVenue" }
        featuredEvents:
          type: array
          items: { $ref: "#/components/schemas/MobileEvent" }
        latestVenues:
          type: array
          items: { $ref: "#/components/schemas/MobileVenue" }
        relatedEvents:
          type: array
          items: { $ref: "#/components/schemas/MobileEvent" }
        posts:
          type: array
          items: { $ref: "#/components/schemas/MobilePost" }
        promotions:
          type: array
          items: { $ref: "#/components/schemas/MobilePromotion" }
        categories:
          type: array
          items: { $ref: "#/components/schemas/Category" }
        pageInfo:
          type: object
          additionalProperties: true
    MobileWatchPerformer:
      type: object
      required: [id, name, slug, type]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        type: { type: string }
        logo: { type: [string, 'null'], format: uri }
        role: { type: [string, 'null'] }
    MobileWatchEvent:
      type: object
      required: [id, name, slug, type, matchDate, performers, featured, viewCount]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        type: { type: string }
        description: { type: [string, 'null'] }
        image: { type: [string, 'null'], format: uri }
        matchDate: { type: string, format: date-time }
        matchTime: { type: [string, 'null'] }
        competition: { type: [string, 'null'] }
        performers: { type: array, items: { $ref: "#/components/schemas/MobileWatchPerformer" } }
        featured: { type: boolean }
        viewCount: { type: integer, minimum: 0 }
        venueCount: { type: [integer, 'null'], minimum: 0 }
    MobileWatchVenue:
      type: object
      required: [id, venue, hasBigScreen, hasFreeEntry]
      properties:
        id: { type: string }
        flyerUrl: { type: [string, 'null'], format: uri }
        promotion: { type: [string, 'null'] }
        hasBigScreen: { type: boolean }
        hasFreeEntry: { type: boolean }
        venue: { type: object, additionalProperties: true }
    MobileRoute:
      type: object
      required: [id, title, slug, description, type, featured, stops]
      properties:
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        description: { type: string }
        image: { type: [string, 'null'], format: uri }
        duration: { type: [string, 'null'] }
        difficulty: { type: [string, 'null'] }
        type: { type: string }
        featured: { type: boolean }
        stops: { type: array, items: { type: object, additionalProperties: true } }
    MobileCollection:
      type: object
      required: [id, name, slug, itemCount]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        icon: { type: [string, 'null'] }
        itemCount: { type: integer, minimum: 0 }
        user: { type: [object, 'null'], additionalProperties: true }
    ContentPayload:
      type: object
      required: [posts, categories, promotions, routes, collections, watchEvents]
      properties:
        posts: { type: array, items: { $ref: "#/components/schemas/MobilePost" } }
        categories: { type: array, items: { $ref: "#/components/schemas/Category" } }
        promotions: { type: array, items: { $ref: "#/components/schemas/MobilePromotion" } }
        routes: { type: array, items: { $ref: "#/components/schemas/MobileRoute" } }
        collections: { type: array, items: { $ref: "#/components/schemas/MobileCollection" } }
        watchEvents: { type: array, items: { $ref: "#/components/schemas/MobileWatchEvent" } }
    MobileWatchEventDetail:
      allOf:
        - $ref: "#/components/schemas/MobileWatchEvent"
        - type: object
          required: [venues]
          properties:
            venues: { type: array, items: { $ref: "#/components/schemas/MobileWatchVenue" } }
    ViewRequest:
      type: object
      required: [kind, itemId]
      properties:
        kind: { type: string, enum: [venue, event, watchEvent] }
        itemId: { type: string, minLength: 1, maxLength: 100 }
    Category:
      type: object
      required: [id, name, slug]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        icon: { type: [string, 'null'] }
        color: { type: [string, 'null'] }
    MobileVenue:
      type: object
      required: [id, name, slug, categories]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        image: { type: [string, 'null'], format: uri }
        location: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        lat: { type: [number, 'null'] }
        lng: { type: [number, 'null'] }
        featured: { type: boolean }
        phone: { type: [string, 'null'] }
        website: { type: [string, 'null'], format: uri }
        priceRange: { type: [string, 'null'] }
        avgRating: { type: [number, 'null'] }
        reviewCount: { type: integer }
        verified: { type: boolean }
        categories: { type: array, items: { $ref: "#/components/schemas/Category" } }
    MobileEvent:
      type: object
      required: [id, title, slug, startDate, categories]
      properties:
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        description: { type: string }
        image: { type: [string, 'null'], format: uri }
        startDate: { type: string, format: date-time }
        endDate: { type: [string, 'null'], format: date-time }
        location: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        lat: { type: [number, 'null'] }
        lng: { type: [number, 'null'] }
        featured: { type: boolean }
        price: { type: [number, 'null'] }
        avgRating: { type: [number, 'null'] }
        reviewCount: { type: integer }
        categories: { type: array, items: { $ref: "#/components/schemas/Category" } }
    RecommendationsPayload:
      type: object
      required: [interests, followingVenues, relatedEvents, relatedVenues]
      properties:
        interests:
          type: object
          required: [categories, preferences]
          properties:
            categories: { type: array, items: { $ref: "#/components/schemas/Category" } }
            preferences: { type: array, items: { type: string } }
        followingVenues: { type: array, items: { $ref: "#/components/schemas/FollowingRecord" } }
        relatedEvents: { type: array, items: { $ref: "#/components/schemas/MobileEvent" } }
        relatedVenues: { type: array, items: { $ref: "#/components/schemas/MobileVenue" } }
    MobilePost:
      type: object
      required: [id, title, slug, status, featured, createdAt, tags]
      properties:
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        excerpt: { type: [string, 'null'] }
        image: { type: [string, 'null'], format: uri }
        status: { type: string }
        featured: { type: boolean }
        publishedAt: { type: [string, 'null'], format: date-time }
        createdAt: { type: string, format: date-time }
        author: { type: [object, 'null'], additionalProperties: true }
        tags: { type: array, items: { type: object, additionalProperties: true } }
    MobilePromotion:
      type: object
      required: [id, title, description, validFrom, validUntil, featured, venue]
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: string }
        image: { type: [string, 'null'], format: uri }
        discount: { type: [string, 'null'] }
        validFrom: { type: string, format: date-time }
        validUntil: { type: string, format: date-time }
        terms: { type: [string, 'null'] }
        featured: { type: boolean }
        venue: { type: object, additionalProperties: true }
    VenueDetail:
      allOf:
        - $ref: "#/components/schemas/MobileVenue"
        - type: object
          required: [media, services, businessHours, menu, products, events, promotions, reviews, questions]
          properties:
            operatingHours: { type: [object, 'null'], additionalProperties: true }
            businessHours: { type: array, items: { type: object, additionalProperties: true } }
            menu: { type: array, items: { type: object, additionalProperties: true } }
            products: { type: array, items: { type: object, additionalProperties: true } }
            events: { type: array, items: { type: object, additionalProperties: true } }
            promotions: { type: array, items: { type: object, additionalProperties: true } }
            media: { type: array, items: { type: object, additionalProperties: true } }
            services: { type: array, items: { type: object, additionalProperties: true } }
            reviews: { type: array, items: { type: object, additionalProperties: true } }
            questions: { type: array, items: { type: object, additionalProperties: true } }
    RegisterRequest:
      type: object
      required: [name, email, password]
      properties:
        name: { type: string, minLength: 1 }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 1 }
    AppleLoginRequest:
      type: object
      required: [identityToken]
      properties:
        identityToken: { type: string, minLength: 100 }
        nonce: { type: string, minLength: 16 }
        name: { type: string, minLength: 2, maxLength: 80 }
    ProfileUpdateRequest:
      type: object
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        image: { type: [string, 'null'], format: uri }
    InterestsRequest:
      type: object
      required: [categoryIds]
      properties:
        categoryIds: { type: array, maxItems: 30, items: { type: string } }
        preferences: { type: array, maxItems: 20, items: { type: string, maxLength: 80 } }
    ReservationRequest:
      type: object
      required: [date, time, partySize]
      properties:
        venueId: { type: string }
        eventId: { type: string }
        date: { type: string, format: date-time }
        time: { type: string, pattern: '^([01]\\d|2[0-3]):[0-5]\\d$' }
        partySize: { type: integer, minimum: 1, maximum: 50 }
        notes: { type: string, maxLength: 500 }
    CancelReservationRequest:
      type: object
      properties:
        status: { type: string, enum: [CANCELLED], default: CANCELLED }
        cancelReason: { type: string, maxLength: 500 }
    ReviewRequest:
      type: object
      required: [rating]
      properties:
        venueId: { type: string }
        eventId: { type: string }
        rating: { type: integer, minimum: 1, maximum: 5 }
        title: { type: string, maxLength: 120 }
        content: { type: string, maxLength: 2000 }
        photos: { type: array, maxItems: 6, items: { type: string, format: uri, maxLength: 2000 } }
    QuestionRequest:
      type: object
      required: [content]
      properties:
        venueId: { type: string }
        eventId: { type: string }
        content: { type: string, minLength: 5, maxLength: 1000 }
    MessageRequest:
      type: object
      required: [venueId, receiverId, content]
      properties:
        venueId: { type: string }
        receiverId: { type: string }
        content: { type: string, minLength: 1, maxLength: 2000 }
    MessageReportRequest:
      type: object
      required: [messageId, reason]
      properties:
        messageId: { type: string, minLength: 1 }
        reason: { type: string, enum: [SPAM, HARASSMENT, SCAM, OTHER] }
    MessageBlockRequest:
      type: object
      required: [venueId, userId]
      properties:
        venueId: { type: string, minLength: 1 }
        userId: { type: string, minLength: 1 }
        reason: { type: string, maxLength: 300 }
    CreateEventRequest:
      type: object
      required: [title, description, startDate, location]
      properties:
        title: { type: string, minLength: 3, maxLength: 120 }
        description: { type: string, minLength: 10, maxLength: 5000 }
        startDate: { type: string, format: date-time }
        endDate: { type: string, format: date-time }
        location: { type: string, minLength: 2, maxLength: 180 }
        address: { type: string, maxLength: 250 }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        price: { type: number, minimum: 0 }
        image: { type: string, format: uri, maxLength: 2000 }
        venueId: { type: string }
    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: { type: string, minLength: 1 }
    FavoriteRequest:
      type: object
      required: [kind, itemId]
      properties:
        kind: { type: string, enum: [venue, event, post, route] }
        itemId: { type: string, minLength: 1 }
    FavoriteSummary:
      type: object
      required: [kind, id, title, slug]
      properties:
        kind: { type: string, enum: [venue, event, post, route] }
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        image: { type: [string, 'null'], format: uri }
        subtitle: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        lat: { type: [number, 'null'], minimum: -90, maximum: 90 }
        lng: { type: [number, 'null'], minimum: -180, maximum: 180 }
        startDate: { type: [string, 'null'], format: date-time }
    FavoriteRecord:
      type: object
      required: [id, kind, itemId, createdAt]
      properties:
        id: { type: string }
        kind: { type: string, enum: [venue, event, post, route] }
        itemId: { type: string }
        createdAt: { type: string, format: date-time }
        item:
          anyOf:
            - $ref: "#/components/schemas/FavoriteSummary"
            - type: 'null'
    FollowingRequest:
      type: object
      required: [venueId]
      properties:
        venueId: { type: string, minLength: 1 }
    FollowingRecord:
      type: object
      required: [id, venueId, createdAt, venue]
      properties:
        id: { type: string }
        venueId: { type: string }
        createdAt: { type: string, format: date-time }
        venue: { $ref: "#/components/schemas/FollowingVenue" }
    FollowingVenue:
      type: object
      required: [id, name, slug]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        image: { type: [string, 'null'], format: uri }
        location: { type: [string, 'null'] }
        address: { type: [string, 'null'] }
        phone: { type: [string, 'null'] }
        lat: { type: [number, 'null'] }
        lng: { type: [number, 'null'] }
    MobileBadge:
      type: object
      required: [id, badgeType, name, description, earnedAt]
      properties:
        id: { type: string }
        badgeType: { type: string }
        name: { type: string }
        description: { type: string }
        icon: { type: [string, 'null'] }
        earnedAt: { type: string, format: date-time }
    MobileRouteStop:
      type: object
      required: [id, day, order, title]
      properties:
        id: { type: string }
        venueId: { type: [string, 'null'] }
        day: { type: integer, minimum: 1, description: 1-based day of the itinerary. }
        order: { type: integer, description: Position within its day; restarts each day. }
        title: { type: string }
        notes: { type: [string, 'null'] }
        duration: { type: [string, 'null'] }
        startTime: { type: [string, 'null'], description: "HH:mm in America/Guayaquil." }
        lat: { type: [number, 'null'] }
        lng: { type: [number, 'null'] }
        image: { type: [string, 'null'] }
        travelMinutes: { type: [integer, 'null'] }
        venue:
          type: [object, 'null']
          properties:
            id: { type: string }
            name: { type: string }
            slug: { type: string }
            image: { type: [string, 'null'] }
            lat: { type: [number, 'null'] }
            lng: { type: [number, 'null'] }
            location: { type: string }
    MobileRouteSummary:
      type: object
      required: [id, title, slug, description, type, days]
      properties:
        id: { type: string }
        title: { type: string }
        slug: { type: string }
        description: { type: string }
        image: { type: [string, 'null'] }
        duration: { type: [string, 'null'] }
        difficulty: { type: [string, 'null'] }
        type: { type: string }
        featured: { type: boolean }
        days: { type: integer, minimum: 1 }
        distanceMeters: { type: [integer, 'null'] }
        estimatedMinutes: { type: [integer, 'null'] }
        stopCount: { type: integer }
        favoriteCount: { type: integer }
    MobileRouteDetail:
      allOf:
        - $ref: "#/components/schemas/MobileRouteSummary"
        - type: object
          properties:
            content: { type: [string, 'null'] }
            startLat: { type: [number, 'null'] }
            startLng: { type: [number, 'null'] }
            author:
              type: object
              properties:
                id: { type: string }
                name: { type: [string, 'null'] }
                image: { type: [string, 'null'] }
            stops:
              type: array
              items: { $ref: "#/components/schemas/MobileRouteStop" }
            itinerary:
              type: array
              description: >-
                One entry per day from 1 to `days`, including days with no stops,
                so the client's day picker never renumbers.
              items:
                type: object
                properties:
                  day: { type: integer }
                  stops:
                    type: array
                    items: { $ref: "#/components/schemas/MobileRouteStop" }
    ClaimSubmitRequest:
      type: object
      required: [venueId, claimerName, claimerEmail]
      properties:
        venueId: { type: string }
        claimerName: { type: string, minLength: 2, maxLength: 120 }
        claimerEmail: { type: string, format: email, maxLength: 200 }
        claimerPhone: { type: [string, 'null'], maxLength: 30 }
        claimerRole: { type: [string, 'null'], maxLength: 80 }
        message: { type: [string, 'null'], maxLength: 500 }
    MobileClaim:
      type: object
      required: [id, status, verified, confidenceScore, createdAt]
      properties:
        id: { type: string }
        status: { type: string, enum: [PENDING, VERIFIED, APPROVED, REJECTED] }
        verified: { type: boolean }
        confidenceScore: { type: integer, minimum: 0, maximum: 100 }
        evidenceUrl: { type: [string, 'null'] }
        evidenceName: { type: [string, 'null'] }
        createdAt: { type: string, format: date-time }
        venue:
          type: [object, 'null']
          properties:
            id: { type: string }
            name: { type: string }
            slug: { type: string }
            image: { type: [string, 'null'] }
    MobileVenueInsights:
      type: object
      properties:
        venue:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            slug: { type: string }
            verified: { type: boolean }
        lifetimeViews: { type: integer }
        recentViews: { type: integer }
        viewSeries:
          type: array
          items:
            type: object
            properties:
              date: { type: string, format: date }
              views: { type: integer }
        avgRating: { type: [number, 'null'] }
        reviewCount: { type: integer }
        favorites: { type: integer }
        pendingReviewReplies: { type: integer }
        unansweredQuestions: { type: integer }
        upcomingReservations: { type: integer }
        retentionDays: { type: integer }
    MobilePublicCollection:
      type: object
      required: [id, name, slug, itemCount, items]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: [string, 'null'] }
        icon: { type: [string, 'null'] }
        itemCount: { type: integer }
        saveCount: { type: integer }
        isSaved: { type: boolean, description: Requires a bearer token; false otherwise. }
        isMine: { type: boolean }
        author:
          type: [object, 'null']
          properties:
            id: { type: string }
            name: { type: [string, 'null'] }
            image: { type: [string, 'null'] }
        items:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              order: { type: integer }
              note: { type: [string, 'null'] }
              item:
                type: [object, 'null']
                properties:
                  kind: { type: string, enum: [venue, event, post, route] }
                  id: { type: string }
                  title: { type: string }
                  slug: { type: string }
                  image: { type: [string, 'null'] }
                  subtitle: { type: [string, 'null'] }
    DeviceRegistrationRequest:
      type: object
      required: [token, platform]
      properties:
        token: { type: string, minLength: 16, maxLength: 512 }
        platform: { type: string, enum: [IOS, ANDROID] }
        environment:
          type: string
          enum: [sandbox, production]
          default: production
          description: APNs environment the token belongs to.
        locale: { type: string, minLength: 2, maxLength: 10, default: es }
        appVersion: { type: string, maxLength: 40 }
    DeviceRegistration:
      type: object
      required: [id, platform, environment, lastSeenAt]
      properties:
        id: { type: string }
        platform: { type: string }
        environment: { type: string }
        lastSeenAt: { type: string, format: date-time }
    NotificationPreferences:
      type: object
      description: >-
        Every field is optional on PATCH; GET always returns all of them. The
        `enabled` master switch silences every channel and type when false.
      properties:
        enabled: { type: boolean }
        hoursAhead: { type: integer, minimum: 1, maximum: 168 }
        pushEnabled: { type: boolean }
        emailEnabled: { type: boolean }
        eventReminders: { type: boolean }
        newFollowedVenuePost: { type: boolean }
        reviewReply: { type: boolean }
        claimUpdates: { type: boolean }
        messageReceived: { type: boolean }
        moderationUpdates: { type: boolean }
    PasswordChangeRequest:
      type: object
      required: [currentPassword, newPassword, confirmPassword]
      properties:
        currentPassword: { type: string, minLength: 1, maxLength: 128 }
        newPassword: { type: string, minLength: 8, maxLength: 128 }
        confirmPassword: { type: string, minLength: 8, maxLength: 128 }
    CollectionRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        description: { type: string, maxLength: 500 }
        icon: { type: string, maxLength: 40 }
        isPublic: { type: boolean, default: true }
    CollectionUpdateRequest:
      type: object
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        description: { type: [string, 'null'], maxLength: 500 }
        icon: { type: [string, 'null'], maxLength: 40 }
        isPublic: { type: boolean }
    CollectionItemKey:
      type: object
      required: [kind, itemId]
      properties:
        kind: { type: string, enum: [venue, event, post, route] }
        itemId: { type: string, minLength: 1 }
    CollectionItemRequest:
      allOf:
        - $ref: "#/components/schemas/CollectionItemKey"
      properties:
        note: { type: string, maxLength: 300 }
        order: { type: integer, minimum: 0 }
    CheckInRequest:
      type: object
      required: [venueId, lat, lng]
      properties:
        venueId: { type: string }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        note: { type: string, maxLength: 500 }
        photoUrl: { type: string, format: uri, maxLength: 2000 }
    CreateVenueRequest:
      type: object
      required: [name, description, location]
      properties:
        name: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, minLength: 10, maxLength: 5000 }
        location: { type: string, minLength: 2, maxLength: 180 }
        address: { type: string, maxLength: 250 }
        phone: { type: string, maxLength: 40 }
        email: { type: string, format: email }
        website: { type: string, format: uri }
        lat: { type: number, minimum: -90, maximum: 90 }
        lng: { type: number, minimum: -180, maximum: 180 }
        priceRange: { type: string, maxLength: 20 }
        image: { type: string, format: uri, maxLength: 2000 }
        categoryIds: { type: array, maxItems: 10, items: { type: string } }
    CreatePostRequest:
      type: object
      required: [title, content, categoryId]
      properties:
        title: { type: string, minLength: 3, maxLength: 160 }
        excerpt: { type: string, maxLength: 500 }
        content: { type: string, minLength: 20, maxLength: 20000 }
        image: { type: string, format: uri, maxLength: 2000 }
        categoryId: { type: string }
    CreateRouteRequest:
      type: object
      required: [title, description, type]
      properties:
        title: { type: string, minLength: 3, maxLength: 160 }
        description: { type: string, minLength: 10, maxLength: 5000 }
        content: { type: string, maxLength: 20000 }
        image: { type: string, format: uri, maxLength: 2000 }
        duration: { type: string, maxLength: 80 }
        difficulty: { type: string, maxLength: 40 }
        type: { type: string, minLength: 2, maxLength: 40 }
        stops:
          type: array
          maxItems: 50
          items:
            type: object
            required: [title]
            properties:
              venueId: { type: string }
              title: { type: string, minLength: 2, maxLength: 160 }
              notes: { type: string, maxLength: 500 }
              duration: { type: string, maxLength: 80 }
    TokenEnvelope:
      allOf:
        - $ref: "#/components/schemas/SuccessEnvelope"
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            fields: { type: object, additionalProperties: { type: array, items: { type: string } } }
  responses:
    BadRequest:
      description: Invalid input
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    ValidationError:
      description: The request body failed validation (VALIDATION_ERROR)
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unauthorized:
      description: Authentication required or invalid
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Forbidden:
      description: Authenticated user is not allowed to perform this action
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Conflict:
      description: Resource conflict
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFound:
      description: Resource not found
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    ServiceUnavailable:
      description: Optional provider is not configured
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
